<div class="main-container">
    <div class="main-card">
        <mat-card>
            <mat-card-content class="card-content">
                <div>New Todo</div>
                <div class="in-card">
                    <div class="input-fld">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Enter a todo here" name="inputVal" [(ngModel)]="todoVal">
                            </mat-form-field>
                            <mat-icon (click)="clearAll()">cancel</mat-icon>
                        </form>
                    </div>
                    <div class="btn">
                        <button mat-raised-button (click)="addTodo()">ADD</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngFor="let todo of todoArr; let i=index" class="list-card">
        <div class="todo-Container">
            <div class="todo-checkbox">
                <mat-checkbox (change)="changeEvent($event, i)"></mat-checkbox>
            </div>
            <div class="todo-text" [ngStyle]="{'text-decoration': todo.isChecked ? 'line-through' : 'none'}">
                {{todo.value}}
            </div>
            <div class="todo-actions">
                <span>
                    <mat-icon (click)="deleteItem(i)">delete</mat-icon>
                </span>
                <span>
                    <mat-icon (click)="openDialog(i)">create</mat-icon>
                </span>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>