.main-container {
    background-color: lightseagreen;
    height: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main-card {
        background-color: white;
        width: 40rem;

        .card-content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .in-card {
                display: flex;
                gap: 20px;

                .input-fld {
                    width: 100%;

                    .example-form {
                        min-width: 150px;
                        max-width: 500px;
                        width: 100%;
                        display: flex;
                    }

                    .example-full-width {
                        width: 100%;
                    }
                }

                .btn {
                    background-color: rgb(220, 124, 89);
                    color: white;
                }
            }

        }
    }

    .list-card {
        background-color: white;
        width: 40rem;
        line-height: 42px;
        text-align: justify;

        .chekbox {
            display: flex;
            gap: 15px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            .content {
                flex-grow: 1;
            }
        }
    }
}